[submodule ".circleci/core.async"]
	path = .circleci/core.async
	url = git@github.com:clojure/core.async.git
[submodule ".circleci/crux"]
	path = .circleci/crux
	url = git@github.com:juxt/crux.git
[submodule ".circleci/malli"]
	path = .circleci/malli
	url = git@github.com:metosin/malli.git
[submodule ".circleci/clojurescript"]
	path = .circleci/clojurescript
	url = git@github.com:clojure/clojurescript.git
[submodule ".circleci/tools.reader"]
	path = .circleci/tools.reader
	url = git@github.com:clojure/tools.reader.git
