pom.xml
*jar
/lib/
/classes/
/checkouts/
.lein-failures
.lein-deps-sum
.lein-repl-history
*~
/target/
/copy-deps-scripts/repos/
/.circleci/example-red-project/output
/.circleci/example-green-project/output
/.circleci/example-refresh-project/output
