version: 2.1
commands:
  setup-project:
    description: "Setup project"
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "project.clj" }}

      - run:
          name: Fetch dependencies
          command: |
            lein deps
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "project.clj" }}

  run-tests:
    description: "Run tests"
    steps:
      - run:
          name: Run tests with all supported clojure versions
          command: |
            lein test-all

jobs:

  openjdk-8:
    docker:
      - image: circleci/clojure:openjdk-8-lein-2.9.1-node
    working_directory: ~/repo

    environment:
      JVM_OPTS: -Xmx3200m

    steps:
      - setup-project
      - run-tests

  openjdk-11:
    docker:
      - image: circleci/clojure:openjdk-11-lein-2.9.1-node
    working_directory: ~/repo

    environment:
      JVM_OPTS: -Xmx3200m

    steps:
      - setup-project
      - run-tests

workflows:
  version: 2
  default:
    jobs:
      - openjdk-8
      - openjdk-11
